body {
    background-image: url("./assets/IMG_0130.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#text{
    background-color: rgba(65, 119, 170, 0.5);
}

footer{
    background-color: rgba(65, 119, 170, 0.5);
}